# Indeed Data Scraping Project
The goal of this project is to automate Indeed Job searching by allowing the user to input a state of their choice and returning a CSV with the job listings in the first 10 pages on Indeed. This will the job searching process much easier for the user.

## Import Statements

In [1]:
from bs4 import BeautifulSoup as BSoup
import requests
import pandas as pd

## Let's first start by attempting to create a dataframe from just one Indeed page URL. Note this is a sample URL.

In [2]:
URL = "https://www.indeed.com/q-Data-Scientist-l-San-Francisco,-CA-jobs.html?vjk=bc7c0e642f6453f4"
request = requests.get(URL)
print(request)

<Response [200]>

#### Awesome, we got a response code 200 meaning our request was successful! Let's now view the page as HTML and use BeautifulSoup to make it look nicer. I will comment out the print statement so it won't display the whole html because it is very long :)

In [22]:
page_html = BSoup(request.text, "html.parser")
#print(page_html.prettify())

In [4]:
containers = page_html.findAll(name="div", attrs={"class": "row"})
len(containers)

15

#### It looks like there are 15 job from this sample URL. Let's now try to extract the job title from each listing by looking at the HTML tags from the page_html variable.

In [5]:
def extract_job_title_from_result(soup): 
    jobs = []
    for container in containers:
        for a in container.find_all(name="a", attrs={"data-tn-element": "jobTitle"}):
            jobs.append(a["title"])
    return jobs

extract_job_title_from_result(page_html)

['Senior Applied Scientist',
 'Associate Data Scientist I',
 'Research Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Data Visualization',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / Quantitative Research',
 'Data Scientist, Machine Learning innovator',
 'Data Scientist â€“ Experimentation',
 'Data Scientist, Legal Policy & Economics',
 'Supervisory Social Scientist - Branch Chief, Data Analytics - COVID-19 SUPPORT POSITIONS',
 'Data Scientist - Shop Recommendations']

#### Let's do the same for the company.

In [6]:
def extract_company_from_result(soup): 
    companies = []
    for container in containers:
        company = container.find_all(name="span", attrs={"class": "company"})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
        else:
            test2 = div.find_all(name="span", attrs={"class": "result-link-source"})
            for span in test2:
                companies.append(span.text.strip())
    return(companies)
 
extract_company_from_result(page_html)

['Spiketrap',
 'Levi Strauss & Co.',
 'University of California San Francisco',
 'Common Networks',
 'Applied Technology & Science (A-T-S)',
 'Yelp',
 'Kaiser Permanente',
 'Deep Labs',
 'GradTests (gradtests.com)',
 'PicnicHealth',
 'Standard Chartered',
 'Getty Images',
 'Uber',
 'US Department of Health And Human Services',
 'Stitch Fix']

#### Let's do the same for the salary.

In [7]:
def extract_salary_from_result(soup): 
    salaries = []
    for div in soup.find_all(name="div", attrs={"class": "row"}):
        div_two = div.find(name="span", attrs={'class': "salaryText"})
        if div_two == None:
            salaries.append("Not Available")
        else:
            salaries.append(div_two.text.strip())
    return salaries 

extract_salary_from_result(page_html)

['Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 '$120,000 a year',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 '$92,977 - $120,868 a year',
 'Not Available']

#### And finally, let's do the same for ratings.

In [8]:
def extract_ratings_from_result(soup): 
    ratings = []
    for div in soup.find_all(name="div", attrs={"class": "row"}):
        div_two = div.find(name="span", attrs={'class': "ratingsContent"})
        if div_two == None:
            ratings.append("Not Available")
        else:
            ratings.append(div_two.text.strip())
    return ratings

extract_ratings_from_result(page_html)

['Not Available',
 '3.9',
 '4.2',
 'Not Available',
 'Not Available',
 '3.5',
 '4.1',
 '3.7',
 'Not Available',
 'Not Available',
 '4.1',
 '3.9',
 '3.7',
 '4.1',
 '3.2']

#### Now let's build a dataframe by combining all the information we have so far!

In [9]:
example_df = pd.DataFrame({"job_title": extract_job_title_from_result(page_html), 
                         "company": extract_company_from_result(page_html),
                         "salary": extract_salary_from_result(page_html),
                         "rating": extract_ratings_from_result(page_html)}) 
example_df

,job_title,company,salary,rating
0,Senior Applied Scientist,Spiketrap,Not Available,Not Available
1,Associate Data Scientist I,Levi Strauss & Co.,Not Available,3.9
2,Research Data Scientist,University of California San Francisco,Not Available,4.2
3,Data Scientist,Common Networks,Not Available,Not Available
4,Data Scientist,Applied Technology & Science (A-T-S),Not Available,Not Available
5,Data Scientist,Yelp,Not Available,3.5
6,Data Scientist: Data Visualization,Kaiser Permanente,Not Available,4.1
7,Data Scientist,Deep Labs,Not Available,3.7
8,Data Scientist,GradTests (gradtests.com),"$120,000 a year",Not Available
9,Data Scientist / Quantitative Research,PicnicHealth,Not Available,Not Available
10,"Data Scientist, Machine Learning innovator",Standard Chartered,Not Available,4.1
11,Data Scientist â€“ Experimentation,Getty Images,Not Available,3.9
12,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
13,"Supervisory Social Scientist - Branch Chief, D...",US Department of Health And Human Services,"$92,977 - $120,868 a year",4.1
14,Data Scientist - Shop Recommendations,Stitch Fix,Not Available,3.2

Awesome! It looks good except that we need to clean the salary series since it is not consistent with units (years and hour). We won't worry too much about that right now. Let's now try to get all listings from the first 10 pages of the Indeed searches

In [10]:
limit = 100
columns = ["job_title", "company", "salary", "rating"]

In [11]:
a = input() # We want the user to be able to input a city of their choice, so we will test it using the input method
city_selection = [a]

San Francisco

In [12]:
#Create a df
sample_df = pd.DataFrame(columns=columns)

#loops through the 10 url for the selected city and gets the information
for city in city_selection:
    for start in range(0, limit, 10):
        page = requests.get("http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=" + str(city) + "&start=" + str(start))
        soup = BSoup(page.text, "lxml", from_encoding="utf-8")
        
        for div in soup.find_all(name="div", attrs={"class": "row"}): 
            num = (len(sample_df) + 1) 
            job_post = [] 
            
            for a in div.find_all(name="a", attrs={"data-tn-element": "jobTitle"}):
                job_post.append(a["title"])
            company = div.find_all(name="span", attrs={"class": "company"}) 
            if len(company) > 0: 
                for b in company:
                    job_post.append(b.text.strip()) 
            else: 
                test2 = div.find_all(name="span", attrs={"class": "result-link-source"})
                for span in test2:
                    job_post.append(span.text)
                    
            div_two = div.find(name="span", attrs={"class": "salaryText"})
            if div_two == None:
                job_post.append("Not Available")
            else:
                job_post.append(div_two.text.strip())
                
            div_three = div.find(name="span", attrs={"class": "ratingsContent"})
            if div_three == None:
                job_post.append("Not Available")
            else:
                job_post.append(div_three.text.strip())
            
            sample_df.loc[num] = job_post

/srv/app/venv/lib/python3.6/site-packages/bs4/__init__.py:146: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

In [13]:
sample_df

,job_title,company,salary,rating
1,Senior Applied Scientist,Spiketrap,Not Available,Not Available
2,Associate Data Scientist I,Levi Strauss & Co.,Not Available,3.9
3,Research Data Scientist,University of California San Francisco,Not Available,4.2
4,Data Scientist,Applied Technology & Science (A-T-S),Not Available,Not Available
5,Data Scientist,Common Networks,Not Available,Not Available
6,Data Scientist,Yelp,Not Available,3.5
7,Data Scientist: Data Visualization,Kaiser Permanente,Not Available,4.1
8,Data Scientist,GradTests (gradtests.com),"$120,000 a year",Not Available
9,Data Scientist / Quantitative Research,PicnicHealth,Not Available,Not Available
10,"Data Scientist, Machine Learning innovator",Standard Chartered,Not Available,4.1
11,Data Scientist â€“ Experimentation,Getty Images,Not Available,3.9
12,Data Scientist,Deep Labs,Not Available,3.7
13,"Supervisory Social Scientist - Branch Chief, D...",US Department of Health And Human Services,"$92,977 - $120,868 a year",4.1
14,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
15,Data Science Intern - Remote,Interview Query,Not Available,Not Available
16,Data Scientist - Shop Recommendations,Stitch Fix,Not Available,3.2
17,Data Scientist,Blue Owl,"$250,000 - $375,000 a year",Not Available
18,Senior Data Scientist,Komodo Health,Not Available,Not Available
19,Data Scientist,Joby Aviation,Not Available,Not Available
20,Data Scientist,Duetto Research,Not Available,Not Available
21,Data Scientist,"Grammarly, Inc.",Not Available,4.8
22,Data Scientist,Triplebyte,"$145,000 - $225,000 a year",5.0
23,"Sr. Data Scientist, Marketing Data Quality",Atlassian,Not Available,4.5
24,Data Scientist,BICP,Not Available,Not Available
25,Data scientist,Avila Trading,Not Available,Not Available
26,Data Scientist,Carbon Health,Not Available,2.0
27,Data Scientist,Spin Electric Scooters,Not Available,3.1
28,Data Scientist,Brightidea,Not Available,4.5
29,Computational and Data Science Research,University of California San Francisco,Not Available,4.2
30,Bioinformatics Data Scientist,Invitae,Not Available,3.6
...,...,...,...,...
117,Data Scientist/ML Engineer,Datatron Technologies,Not Available,Not Available
118,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$5,000 a month",Not Available
119,Senior Data Analyst - User Growth,Redfin,Not Available,3.2
120,Data Scientist (6257U) - CED,University of California Berkeley,Not Available,4.2
121,Data and Policy Analyst - Statistical Programmer,Acumen LLC,Not Available,3.6
122,"Scientist, DNA Data Storage",Twist Bioscience,Not Available,3.3
123,Lead Data Scientist,RAPP,Not Available,3.5
124,Data Science/Stats Intern,Pivot Bio,Not Available,Not Available
125,Principal Data Scientist,Noblr,Not Available,Not Available
126,"Data Product Engineer, Revenue Science",Twitter,Not Available,4.1
127,Data Scientist - Global Business Operations,Splunk,Not Available,4.2
128,Staff Data Scientist â€“ Global Payments & Fraud...,Sony Interactive Entertainment PlayStation,Not Available,3.7
129,"Head of Data Science, SMB",Facebook,Not Available,4.2
130,Machine Learning Engineer,Synapse Financial Technologies Inc,Not Available,Not Available
131,Senior Data Scientist,Hopper,Not Available,3.6
132,Principal Data Scientist,Tapjoy,Not Available,3.3
133,"Senior Data Scientist, Education",Chan Zuckerberg Initiative,Not Available,4.8
134,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$5,000 a month",Not Available
135,Machine Learning Engineer,Goodwater Capital,"$130,000 - $200,000 a year",Not Available
136,Principal Data Strategist,Roche,Not Available,4.2
137,Data Scientist,Upstart,Not Available,3.6
138,Computer Vision Intern - Deep Learning,Fyusion,Not Available,Not Available
139,"Machine Learning Modeler Lead, Financial Crimes",Square,Not Available,3.7
140,Data Engineer - Python Programmer,Mondo,Not Available,Not Available
141,Data Scientist,"Upstart Network, Inc.",Not Available,Not Available
142,"Senior Data Analyst, Member Services",Chime,Not Available,Not Available
143,Scheduling/Cost Analyst Intern,Swinerton Builders,Not Available,4.2
144,Data Scientist 3 (718),"Amyris, Inc.",Not Available,Not Available
145,Pinterest Labs Applied Scientist (Software Eng...,Pinterest,Not Available,4.2
146,Senior Applied Scientist,Spiketrap,Not Available,Not Available

#### Next, we are going to clean this data and then convert the dataframe into a CSV file. Let's start by cleaning the salary series to the correct rates. We will convert them into dollars a year. 

##### Note: the string manipulation below assumes that hourly salaries are two digits and monthly to be in the thousands since salaries for these jobs. We can safely make this assumption for now as annual income for this position is usually 50k-200k which supports that range.

In [14]:
# Selecting the salary series
result = sample_df["salary"]

# Checking units, converting, and formatting them appropriately
for index, item in enumerate(sample_df["salary"]):
    if "hour" in item and '-' in item:
        lower = int(item[1:3])*8*365
        upper = int(item[7:9])*8*365
        result[index + 1] = "$" + "{:,}".format(lower) + " - " + "$" + "{:,}".format(upper) + " a year"
    elif "hour" in item and '-' not in item:
        salary = int(item[1:3])*8*365
        result[index + 1] = "$" + "{:,}".format(salary) + " a year"
    elif 'month' in item:
        no_range = int(item[1:2] + item[3:6])*12
        result[index + 1] = "$" + "{:,}".format(no_range) + " a year"
    else:
        result[index + 1] = item

In [21]:
result.tail(25)

122                 Not Available
123                 Not Available
124                 Not Available
125                 Not Available
126                 Not Available
127                 Not Available
128                 Not Available
129                 Not Available
130                 Not Available
131                 Not Available
132                 Not Available
133                 Not Available
134                $60,000 a year
135    $130,000 - $200,000 a year
136                 Not Available
137                 Not Available
138                 Not Available
139                 Not Available
140                 Not Available
141                 Not Available
142                 Not Available
143                 Not Available
144                 Not Available
145                 Not Available
146                 Not Available
Name: salary, dtype: object

#### Awesome, it looks like it worked properly. For example, in our old series for index 134, it was 5,000 monthly which converts to 60,000 a year in our results series. Let's now finish off by printing our whole dataframe out.

In [16]:
pd.set_option('display.max_rows', None)
sample_df

,job_title,company,salary,rating
1,Senior Applied Scientist,Spiketrap,Not Available,Not Available
2,Associate Data Scientist I,Levi Strauss & Co.,Not Available,3.9
3,Research Data Scientist,University of California San Francisco,Not Available,4.2
4,Data Scientist,Applied Technology & Science (A-T-S),Not Available,Not Available
5,Data Scientist,Common Networks,Not Available,Not Available
6,Data Scientist,Yelp,Not Available,3.5
7,Data Scientist: Data Visualization,Kaiser Permanente,Not Available,4.1
8,Data Scientist,GradTests (gradtests.com),"$120,000 a year",Not Available
9,Data Scientist / Quantitative Research,PicnicHealth,Not Available,Not Available
10,"Data Scientist, Machine Learning innovator",Standard Chartered,Not Available,4.1
11,Data Scientist â€“ Experimentation,Getty Images,Not Available,3.9
12,Data Scientist,Deep Labs,Not Available,3.7
13,"Supervisory Social Scientist - Branch Chief, D...",US Department of Health And Human Services,"$92,977 - $120,868 a year",4.1
14,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
15,Data Science Intern - Remote,Interview Query,Not Available,Not Available
16,Data Scientist - Shop Recommendations,Stitch Fix,Not Available,3.2
17,Data Scientist,Blue Owl,"$250,000 - $375,000 a year",Not Available
18,Senior Data Scientist,Komodo Health,Not Available,Not Available
19,Data Scientist,Joby Aviation,Not Available,Not Available
20,Data Scientist,Duetto Research,Not Available,Not Available
21,Data Scientist,"Grammarly, Inc.",Not Available,4.8
22,Data Scientist,Triplebyte,"$145,000 - $225,000 a year",5.0
23,"Sr. Data Scientist, Marketing Data Quality",Atlassian,Not Available,4.5
24,Data Scientist,BICP,Not Available,Not Available
25,Data scientist,Avila Trading,Not Available,Not Available
26,Data Scientist,Carbon Health,Not Available,2.0
27,Data Scientist,Spin Electric Scooters,Not Available,3.1
28,Data Scientist,Brightidea,Not Available,4.5
29,Computational and Data Science Research,University of California San Francisco,Not Available,4.2
30,Bioinformatics Data Scientist,Invitae,Not Available,3.6
31,Lead Data Scientist,Woebot Health,Not Available,Not Available
32,"Data Scientist, Analytics",Outschool,Not Available,3.5
33,Bioinformatics Data Scientist,Invitae,Not Available,3.6
34,Data Scientist/Analyst - Wilbur Labs,Wilbur Labs,Not Available,Not Available
35,Data Scientist - Operations,Stitch Fix,Not Available,3.2
36,Senior Data Scientist,Intercom,Not Available,Not Available
37,2020 PhD University Graduate - Data Scientist ...,Uber,Not Available,3.7
38,Sr. Data Analyst,Twitter,Not Available,4.1
39,Data Scientist,Bond Financial Technologies,Not Available,Not Available
40,Staff Data Scientist,Plenty,Not Available,Not Available
41,Data Scientist,Finrise,Not Available,Not Available
42,Data Scientist,Navio,Not Available,Not Available
43,Data Scientist,Clever,Not Available,4.2
44,Data Scientist,Sony Interactive Entertainment PlayStation,Not Available,3.7
45,Data Scientist,Hive,Not Available,3.6
46,Data Scientist,Finrise,Not Available,Not Available
47,Quant Researcher/Data Scientist,MSCI Inc.,Not Available,4.0
48,"Data Scientist, Creator Content",Pinterest,Not Available,4.2
49,Data Scientist - Product Analytics,ThirdLove,Not Available,4.1
50,Data Scientist,Clever,Not Available,4.2
51,"Data Scientist, Forecasting",Geli,Not Available,Not Available
52,Data Scientist,Sony Interactive Entertainment PlayStation,Not Available,3.7
53,Senior Staff Data Scientist / Forecasting,Twitter,Not Available,4.1
54,Senior Data Analyst,Life360,Not Available,4.5
55,Sr. Pharmacy Data Analyst,University of California San Francisco Medical...,Not Available,4.2
56,Sr. Data Scientist,Woodruff Sawyer,Not Available,3.3
57,Data Scientist,Mindstrong,Not Available,Not Available
58,Data Scientist (Computer Vision),AI Factory,Not Available,Not Available
59,2020 PhD University Graduate - Data Scientist ...,Uber,Not Available,3.7
60,Assistant Director- Data Scientist,Moody's Corporation,Not Available,3.7
61,Assistant Director- Data Scientist,Moody's Corporation,Not Available,3.7
62,2020 PhD Data Scientist Internship - Uber Eats...,Uber,Not Available,3.7
63,Staff Data Scientist - Pricing,Opendoor,Not Available,3.0
64,English Speakers - Data Annotators,TransPerfect,Not Available,3.0
65,Biological Data Scientist,Foresite Labs,Not Available,Not Available
66,Data Scientist,Miles,Not Available,3.8
67,"Data Scientist, Transaction Monitoring",Wish,Not Available,3.8
68,Computer Vision Data Scientist,Enlitic,Not Available,Not Available
69,Data Science Health Innovation Fellow,University of California San Francisco,Not Available,4.2
70,Senior Data Scientist,Spring Discovery,Not Available,Not Available
71,Data Scientist,FT Optimize,Not Available,Not Available
72,AI - Data Scientist - Smiths Digital Forge,Smiths-Digital Forge,Not Available,Not Available
73,"Data Scientist, Applied Machine Learning - Bay...",Tempus,Not Available,3.2
74,Marketing Data Scientist,SoFi,Not Available,3.2
75,Data Scientist/Research Engineer,Apixio,Not Available,4.3
76,Principal Data Scientist,Coinbase,Not Available,4.4
77,"Data Scientist, Relevancy Ranking Algorithms -...",Getty Images,Not Available,3.9
78,Sr. Data Scientist,Wish,Not Available,3.8
79,Data Scientist #5967,Fanatics Inc.,Not Available,3.7
80,Senior Data Scientist,Demandbase,Not Available,3.1
81,Data Scientist/ML Engineer,Datatron Technologies,Not Available,Not Available
82,Senior Data Scientist,Landing,Not Available,3.8
83,Sr. Data Scientist,Fanatics Inc.,Not Available,3.7
84,Senior Health Data Analyst,One Medical,Not Available,3.6
85,Chinese Speakers - Data Annotators,TransPerfect,Not Available,3.0
86,Data Science Instructional Designer and Analyst,University of California San Francisco,Not Available,4.2
87,Senior Data Analyst,Vida,Not Available,3.5
88,Software Engineer (Machine Learning),Wavely,"$117,946 - $144,156 a year",Not Available
89,Senior Data Scientist - Homes,Opendoor,Not Available,3.0
90,Data Scientist,Viber,Not Available,Not Available
91,Data Science Instructional Designer and Analyst,University of California San Francisco,Not Available,4.2
92,Data Science Manager- Health,Twitter,Not Available,4.1
93,"Machine Learning Engineer, Ads Relevance",Pinterest,Not Available,4.2
94,"Machine Learning Modeler Lead, Financial Crimes",Square,Not Available,3.7
95,Senior Data Scientist,Kinship,Not Available,4.6
96,Marketing and Business Analytics Interns,UpCounsel LLC,Not Available,Not Available
97,Data Scientist,CipherTrace,Not Available,Not Available
98,Machine Learning Engineers (Multiple Opportuni...,Grelock Partners,Not Available,Not Available
99,Scheduling/Cost Analyst Intern,Swinerton Builders,Not Available,4.2
100,"Senior Data Analyst, Member Services",Chime,Not Available,Not Available
101,Pinterest Labs Applied Scientist (Software Eng...,Pinterest,Not Available,4.2
102,Data Scientist,"Upstart Network, Inc.",Not Available,Not Available
103,Lead Data Scientist - Deep Learning,The Climate Corporation,Not Available,3.5
104,Expert Data Scientist,"Allscripts Healthcare, LLC",Not Available,3.6
105,Data Scientist,Upstart,Not Available,3.6
106,Senior Applied Scientist,Spiketrap,Not Available,Not Available
107,Machine Learning Engineer,Goodwater Capital,"$130,000 - $200,000 a year",Not Available
108,Senior Health Data Analyst,One Medical,Not Available,3.6
109,Marketing Data Scientist,SoFi,Not Available,3.2
110,"Data Scientist, Applied Machine Learning - Bay...",Tempus,Not Available,3.2
111,Senior Data Scientist,Landing,Not Available,3.8
112,Sr. Data Scientist,Wish,Not Available,3.8
113,Principal Data Scientist,Coinbase,Not Available,4.4
114,Data Scientist/Research Engineer,Apixio,Not Available,4.3
115,"Data Scientist, Relevancy Ranking Algorithms -...",Getty Images,Not Available,3.9
116,Data Scientist #5967,Fanatics Inc.,Not Available,3.7
117,Data Scientist/ML Engineer,Datatron Technologies,Not Available,Not Available
118,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$60,000 a year",Not Available
119,Senior Data Analyst - User Growth,Redfin,Not Available,3.2
120,Data Scientist (6257U) - CED,University of California Berkeley,Not Available,4.2
121,Data and Policy Analyst - Statistical Programmer,Acumen LLC,Not Available,3.6
122,"Scientist, DNA Data Storage",Twist Bioscience,Not Available,3.3
123,Lead Data Scientist,RAPP,Not Available,3.5
124,Data Science/Stats Intern,Pivot Bio,Not Available,Not Available
125,Principal Data Scientist,Noblr,Not Available,Not Available
126,"Data Product Engineer, Revenue Science",Twitter,Not Available,4.1
127,Data Scientist - Global Business Operations,Splunk,Not Available,4.2
128,Staff Data Scientist â€“ Global Payments & Fraud...,Sony Interactive Entertainment PlayStation,Not Available,3.7
129,"Head of Data Science, SMB",Facebook,Not Available,4.2
130,Machine Learning Engineer,Synapse Financial Technologies Inc,Not Available,Not Available
131,Senior Data Scientist,Hopper,Not Available,3.6
132,Principal Data Scientist,Tapjoy,Not Available,3.3
133,"Senior Data Scientist, Education",Chan Zuckerberg Initiative,Not Available,4.8
134,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$60,000 a year",Not Available
135,Machine Learning Engineer,Goodwater Capital,"$130,000 - $200,000 a year",Not Available
136,Principal Data Strategist,Roche,Not Available,4.2
137,Data Scientist,Upstart,Not Available,3.6
138,Computer Vision Intern - Deep Learning,Fyusion,Not Available,Not Available
139,"Machine Learning Modeler Lead, Financial Crimes",Square,Not Available,3.7
140,Data Engineer - Python Programmer,Mondo,Not Available,Not Available
141,Data Scientist,"Upstart Network, Inc.",Not Available,Not Available
142,"Senior Data Analyst, Member Services",Chime,Not Available,Not Available
143,Scheduling/Cost Analyst Intern,Swinerton Builders,Not Available,4.2
144,Data Scientist 3 (718),"Amyris, Inc.",Not Available,Not Available
145,Pinterest Labs Applied Scientist (Software Eng...,Pinterest,Not Available,4.2
146,Senior Applied Scientist,Spiketrap,Not Available,Not Available

#### Looks good! Let's now finally convert this Pandas dataframe into a CSV file.

In [17]:
sample_df.to_csv('indeed.csv', index=False)