# Indeed Data Scraping Project
The goal of this project is to automate Indeed Job searching by allowing the user to input a state of their choice and returning a CSV with the job listings in the first 10 pages on Indeed. This will the job searching process much easier for the user.

## Import Statements

In [1]:
from bs4 import BeautifulSoup as BSoup
import requests
import pandas as pd

## Let's first start by attempting to create a dataframe from just one Indeed page URL. Note this is a sample URL.

In [2]:
URL = "https://www.indeed.com/q-Data-Scientist-l-San-Francisco,-CA-jobs.html?vjk=bc7c0e642f6453f4"
request = requests.get(URL)
print(request)

<Response [200]>

#### Awesome, we got a response code 200 meaning our request was successful! Let's now view the page as HTML and use BeautifulSoup to make it look nicer. I will comment out the print statement so it won't display the whole html because it is very long :)

In [3]:
page_html = BSoup(request.text, "html.parser")
#print(page_html.prettify())

In [4]:
containers = page_html.findAll(name="div", attrs={"class": "row"})
len(containers)

15

#### It looks like there are 15 job from this sample URL. Let's now try to extract the job title from each listing by looking at the HTML tags from the page_html variable.

In [5]:
def extract_job_title_from_result(soup): 
    jobs = []
    for container in containers:
        for a in container.find_all(name="a", attrs={"data-tn-element": "jobTitle"}):
            jobs.append(a["title"])
    return jobs

extract_job_title_from_result(page_html)

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist I',
 'Data Scientist',
 'Data Scientist: Data Visualization',
 'Research Data Scientist',
 'Junior Data Scientist - Pathrise Recruiting Partners',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / Quantitative Research',
 'Data Scientist',
 'Data Scientist, Marketing',
 'Data Scientist, Legal Policy & Economics']

#### Let's do the same for the company.

In [6]:
def extract_company_from_result(soup): 
    companies = []
    for container in containers:
        company = container.find_all(name="span", attrs={"class": "company"})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
        else:
            test2 = div.find_all(name="span", attrs={"class": "result-link-source"})
            for span in test2:
                companies.append(span.text.strip())
    return(companies)
 
extract_company_from_result(page_html)

['Triplebyte',
 'Global Fishing Watch',
 'Blue Owl',
 'Levi Strauss & Co.',
 'project AI',
 'Kaiser Permanente',
 'University of California San Francisco',
 'Pathrise',
 'Common Networks',
 'Applied Technology & Science (A-T-S)',
 'Yelp',
 'PicnicHealth',
 'GradTests (gradtests.com)',
 'Twitch',
 'Uber']

#### Let's do the same for the salary.

In [7]:
def extract_salary_from_result(soup): 
    salaries = []
    for div in soup.find_all(name="div", attrs={"class": "row"}):
        div_two = div.find(name="span", attrs={'class': "salaryText"})
        if div_two == None:
            salaries.append("Not Available")
        else:
            salaries.append(div_two.text.strip())
    return salaries 

extract_salary_from_result(page_html)

['$145,000 - $225,000 a year',
 '$45 - $65 an hour',
 '$250,000 - $375,000 a year',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 'Not Available',
 '$120,000 a year',
 'Not Available',
 'Not Available']

#### And finally, let's do the same for ratings.

In [8]:
def extract_ratings_from_result(soup): 
    ratings = []
    for div in soup.find_all(name="div", attrs={"class": "row"}):
        div_two = div.find(name="span", attrs={'class': "ratingsContent"})
        if div_two == None:
            ratings.append("Not Available")
        else:
            ratings.append(div_two.text.strip())
    return ratings

extract_ratings_from_result(page_html)

['5.0',
 'Not Available',
 'Not Available',
 '3.9',
 'Not Available',
 '4.1',
 '4.2',
 'Not Available',
 'Not Available',
 'Not Available',
 '3.5',
 'Not Available',
 'Not Available',
 '4.4',
 '3.7']

#### Now let's build a dataframe by combining all the information we have so far!

In [9]:
example_df = pd.DataFrame({"job_title": extract_job_title_from_result(page_html), 
                         "company": extract_company_from_result(page_html),
                         "salary": extract_salary_from_result(page_html),
                         "rating": extract_ratings_from_result(page_html)}) 
example_df

,job_title,company,salary,rating
0,Data Scientist,Triplebyte,"$145,000 - $225,000 a year",5.0
1,Data Scientist,Global Fishing Watch,$45 - $65 an hour,Not Available
2,Data Scientist,Blue Owl,"$250,000 - $375,000 a year",Not Available
3,Associate Data Scientist I,Levi Strauss & Co.,Not Available,3.9
4,Data Scientist,project AI,Not Available,Not Available
5,Data Scientist: Data Visualization,Kaiser Permanente,Not Available,4.1
6,Research Data Scientist,University of California San Francisco,Not Available,4.2
7,Junior Data Scientist - Pathrise Recruiting Pa...,Pathrise,Not Available,Not Available
8,Data Scientist,Common Networks,Not Available,Not Available
9,Data Scientist,Applied Technology & Science (A-T-S),Not Available,Not Available
10,Data Scientist,Yelp,Not Available,3.5
11,Data Scientist / Quantitative Research,PicnicHealth,Not Available,Not Available
12,Data Scientist,GradTests (gradtests.com),"$120,000 a year",Not Available
13,"Data Scientist, Marketing",Twitch,Not Available,4.4
14,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7

Awesome! It looks good except that we need to clean the salary series since it is not consistent with units (years and hour) and fix the style of the text. We won't worry too much about that right now. Let's now try to get all listings from the first 10 pages of the Indeed searches

In [10]:
limit = 100
columns = ["job_title", "company", "salary", "rating"]

In [11]:
a = input() # We want the user to be able to input a city of their choice, so we will test it using the input method
city_selection = [a]

San Francisco

In [12]:
#Create a df
sample_df = pd.DataFrame(columns=columns)

#loops through the 10 url for the selected city and gets the information
for city in city_selection:
    for start in range(0, limit, 10):
        page = requests.get("http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=" + str(city) + "&start=" + str(start))
        soup = BSoup(page.text, "lxml", from_encoding="utf-8")
        
        for div in soup.find_all(name="div", attrs={"class": "row"}): 
            num = (len(sample_df) + 1) 
            job_post = [] 
            
            for a in div.find_all(name="a", attrs={"data-tn-element": "jobTitle"}):
                job_post.append(a["title"])
            company = div.find_all(name="span", attrs={"class": "company"}) 
            if len(company) > 0: 
                for b in company:
                    job_post.append(b.text.strip()) 
            else: 
                test2 = div.find_all(name="span", attrs={"class": "result-link-source"})
                for span in test2:
                    job_post.append(span.text)
                    
            div_two = div.find(name="span", attrs={"class": "salaryText"})
            if div_two == None:
                job_post.append("Not Available")
            else:
                job_post.append(div_two.text.strip())
                
            div_three = div.find(name="span", attrs={"class": "ratingsContent"})
            if div_three == None:
                job_post.append("Not Available")
            else:
                job_post.append(div_three.text.strip())
            
            sample_df.loc[num] = job_post

/srv/app/venv/lib/python3.6/site-packages/bs4/__init__.py:146: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

In [13]:
sample_df

,job_title,company,salary,rating
1,Data Scientist,Triplebyte,"$145,000 - $225,000 a year",5.0
2,Data Scientist,Global Fishing Watch,$45 - $65 an hour,Not Available
3,Data Scientist,Blue Owl,"$250,000 - $375,000 a year",Not Available
4,Associate Data Scientist I,Levi Strauss & Co.,Not Available,3.9
5,Data Scientist,project AI,Not Available,Not Available
6,Research Data Scientist,University of California San Francisco,Not Available,4.2
7,Junior Data Scientist - Pathrise Recruiting Pa...,Pathrise,Not Available,Not Available
8,Data Scientist: Data Visualization,Kaiser Permanente,Not Available,4.1
9,Data Scientist,Applied Technology & Science (A-T-S),Not Available,Not Available
10,Data Scientist,Common Networks,Not Available,Not Available
11,Data Scientist,Yelp,Not Available,3.5
12,Data Scientist / Quantitative Research,PicnicHealth,Not Available,Not Available
13,Data Scientist,GradTests (gradtests.com),"$120,000 a year",Not Available
14,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
15,"Data Scientist, Marketing",Twitch,Not Available,4.4
16,Data Scientist,Triplebyte,"$145,000 - $225,000 a year",5.0
17,Data Scientist,Global Fishing Watch,$45 - $65 an hour,Not Available
18,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
19,"Data Scientist, Marketing",Twitch,Not Available,4.4
20,"Data Scientist, Machine Learning innovator",Standard Chartered,Not Available,4.1
21,Data Scientist – Experimentation (Contract Pos...,Getty Images,Not Available,3.9
22,Data Scientist - Shop Recommendations,Stitch Fix,Not Available,3.2
23,Data Science Intern - Remote,Interview Query,Not Available,Not Available
24,Data Scientist,Deep Labs,Not Available,3.7
25,Data scientist,Avila Trading,Not Available,Not Available
26,Senior Data Scientist,Komodo Health,Not Available,Not Available
27,Data Solutions Sr. Consultant/Personalization ...,Wells Fargo Bank,Not Available,3.7
28,Data Scientist,Blue Owl,"$250,000 - $375,000 a year",Not Available
29,Senior Applied Scientist,Spiketrap,Not Available,Not Available
30,Data Scientist,Global Fishing Watch,$45 - $65 an hour,Not Available
...,...,...,...,...
125,Scheduling/Cost Analyst Intern,Swinerton Builders,Not Available,4.2
126,Director of Data Science,Loom,Not Available,4.2
127,Lead Data Scientist - Deep Learning,The Climate Corporation,Not Available,3.5
128,Senior Data Scientist,Instacart,Not Available,2.7
129,Chief Data Scientist,AI Factory,Not Available,Not Available
130,Staff Data Scientist – Global Payments & Fraud...,Sony Interactive Entertainment PlayStation,Not Available,3.7
131,"Senior Data Scientist, Education",Chan Zuckerberg Initiative,Not Available,4.8
132,Sr. Data Scientist,MasterClass,Not Available,Not Available
133,Senior Data Analyst,Autodesk,Not Available,4.1
134,Data Engineer,CommonStock,Not Available,Not Available
135,Senior Health Data Analyst,One Medical,Not Available,3.6
136,Machine Learning Researcher - Multi View & Seg...,Fyusion,"$132,476 - $163,000 a year",Not Available
137,"Machine Learning Modeler Lead, Financial Crimes",Square,Not Available,3.7
138,Data Science Manager- Health,Twitter,Not Available,4.1
139,Data Scientist,Viber,Not Available,Not Available
140,Data Scientist,Trace Data,Not Available,Not Available
141,Senior Data Scientist,Demandbase,Not Available,3.1
142,Senior Data Scientist,Arkose Labs,Not Available,Not Available
143,Senior Data Analyst,Vida,Not Available,3.5
144,Senior Data Scientist,Levi Strauss & Co.,Not Available,3.9
145,Backend Engineer/Machine Learning,WAVELY,"$129,662 - $203,566 a year",Not Available
146,Expert Data Scientist,"Allscripts Healthcare, LLC",Not Available,3.6
147,Data Science/Stats Intern,Pivot Bio,Not Available,Not Available
148,Data Scientist (6257U) - CED,University of California Berkeley,Not Available,4.2
149,Machine Learning Engineer,Triplebyte,"$150,000 - $250,000 a year",5.0
150,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$5,000 a month",Not Available
151,Senior Applied Scientist,Spiketrap,Not Available,Not Available
152,Data Scientist,Triplebyte,"$145,000 - $225,000 a year",5.0
153,Data Scientist,Global Fishing Watch,$45 - $65 an hour,Not Available
154,Data Scientist,Blue Owl,"$250,000 - $375,000 a year",Not Available

#### Let's first fix the salary series since there is a bolding issue with the concatenation of the '$', the first number of the range, and '-'

In [14]:
lst = []

for i in range(1, len(sample_df['salary']) + 1):
    # 6 figure first range num for year
    if len(sample_df['salary'][i]) == 26:
        lst.append(sample_df['salary'][i][0:8] + ' - ' + sample_df['salary'][i][12:19] + ' a year')
    # 5 figure first range num for year
    elif len(sample_df['salary'][i]) == 25:
        lst.append(sample_df['salary'][i][0:7] + ' - ' + sample_df['salary'][i][11:18] + ' a year')
    # 6 figure for year no range
    elif len(sample_df['salary'][i]) == 15:
        lst.append(sample_df['salary'][i][0:8] + ' a year')  
    # 2 figure for hours
    elif len(sample_df['salary'][i]) == 17:
        lst.append(sample_df['salary'][i][0:3] + ' - ' + sample_df['salary'][i][7:9] + ' an hour')
    # one 3 figure for hours
    elif len(sample_df['salary'][i]) == 18:
        lst.append(sample_df['salary'][i][0:3] + ' - ' + sample_df['salary'][i][7:9] + ' an hour')
    # 4 figure for months
    elif len(sample_df['salary'][i]) == 14:
        lst.append(sample_df['salary'][i][0:6] + ' a month')
    else:
        lst.append(sample_df['salary'][i])
        
sample_df['salary'] = lst

sample_df

,job_title,company,salary,rating
1,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
2,Data Scientist,Global Fishing Watch,$45 - 65 an hour,Not Available
3,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
4,Associate Data Scientist I,Levi Strauss & Co.,Not Available,3.9
5,Data Scientist,project AI,Not Available,Not Available
6,Research Data Scientist,University of California San Francisco,Not Available,4.2
7,Junior Data Scientist - Pathrise Recruiting Pa...,Pathrise,Not Available,Not Available
8,Data Scientist: Data Visualization,Kaiser Permanente,Not Available,4.1
9,Data Scientist,Applied Technology & Science (A-T-S),Not Available,Not Available
10,Data Scientist,Common Networks,Not Available,Not Available
11,Data Scientist,Yelp,Not Available,3.5
12,Data Scientist / Quantitative Research,PicnicHealth,Not Available,Not Available
13,Data Scientist,GradTests (gradtests.com),"$120,000 a year",Not Available
14,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
15,"Data Scientist, Marketing",Twitch,Not Available,4.4
16,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
17,Data Scientist,Global Fishing Watch,$45 - 65 an hour,Not Available
18,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
19,"Data Scientist, Marketing",Twitch,Not Available,4.4
20,"Data Scientist, Machine Learning innovator",Standard Chartered,Not Available,4.1
21,Data Scientist – Experimentation (Contract Pos...,Getty Images,Not Available,3.9
22,Data Scientist - Shop Recommendations,Stitch Fix,Not Available,3.2
23,Data Science Intern - Remote,Interview Query,Not Available,Not Available
24,Data Scientist,Deep Labs,Not Available,3.7
25,Data scientist,Avila Trading,Not Available,Not Available
26,Senior Data Scientist,Komodo Health,Not Available,Not Available
27,Data Solutions Sr. Consultant/Personalization ...,Wells Fargo Bank,Not Available,3.7
28,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
29,Senior Applied Scientist,Spiketrap,Not Available,Not Available
30,Data Scientist,Global Fishing Watch,$45 - 65 an hour,Not Available
...,...,...,...,...
125,Scheduling/Cost Analyst Intern,Swinerton Builders,Not Available,4.2
126,Director of Data Science,Loom,Not Available,4.2
127,Lead Data Scientist - Deep Learning,The Climate Corporation,Not Available,3.5
128,Senior Data Scientist,Instacart,Not Available,2.7
129,Chief Data Scientist,AI Factory,Not Available,Not Available
130,Staff Data Scientist – Global Payments & Fraud...,Sony Interactive Entertainment PlayStation,Not Available,3.7
131,"Senior Data Scientist, Education",Chan Zuckerberg Initiative,Not Available,4.8
132,Sr. Data Scientist,MasterClass,Not Available,Not Available
133,Senior Data Analyst,Autodesk,Not Available,4.1
134,Data Engineer,CommonStock,Not Available,Not Available
135,Senior Health Data Analyst,One Medical,Not Available,3.6
136,Machine Learning Researcher - Multi View & Seg...,Fyusion,"$132,476 - 163,000 a year",Not Available
137,"Machine Learning Modeler Lead, Financial Crimes",Square,Not Available,3.7
138,Data Science Manager- Health,Twitter,Not Available,4.1
139,Data Scientist,Viber,Not Available,Not Available
140,Data Scientist,Trace Data,Not Available,Not Available
141,Senior Data Scientist,Demandbase,Not Available,3.1
142,Senior Data Scientist,Arkose Labs,Not Available,Not Available
143,Senior Data Analyst,Vida,Not Available,3.5
144,Senior Data Scientist,Levi Strauss & Co.,Not Available,3.9
145,Backend Engineer/Machine Learning,WAVELY,"$129,662 - 203,566 a year",Not Available
146,Expert Data Scientist,"Allscripts Healthcare, LLC",Not Available,3.6
147,Data Science/Stats Intern,Pivot Bio,Not Available,Not Available
148,Data Scientist (6257U) - CED,University of California Berkeley,Not Available,4.2
149,Machine Learning Engineer,Triplebyte,"$150,000 - 250,000 a year",5.0
150,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$5,000 a month",Not Available
151,Senior Applied Scientist,Spiketrap,Not Available,Not Available
152,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
153,Data Scientist,Global Fishing Watch,$45 - 65 an hour,Not Available
154,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available

#### Next, we are going to clean this data and then convert the dataframe into a CSV file. Let's start by cleaning the salary series to the correct rates. We will convert them into dollars a year. 

##### Note: the string manipulation below assumes that hourly salaries are two digits and monthly to be in the thousands since salaries for these jobs. We can safely make this assumption for now as annual income for this position is usually 50k-200k which supports that range.

In [15]:
result = sample_df['salary']

for index, item in enumerate(sample_df["salary"]):
    if "hour" in item and '-' in item:
        lower = int(item[1:3])*8*365
        upper = int(item[6:8])*8*365
        result[index + 1] = "$" + "{:,}".format(lower) + " - " + "{:,}".format(upper) + " a year"
    elif "hour" in item and '-' not in item:
        salary = int(item[1:3])*8*365
        result[index + 1] = "$" + "{:,}".format(salary) + " a year"
    elif 'month' in item:
        no_range = int(item[1:2] + item[3:6])*12
        result[index + 1] = "$" + "{:,}".format(no_range) + " a year"
    else:
        result[index + 1] = item
        
result

1      $145,000 - 225,000 a year
2      $131,400 - 189,800 a year
3      $250,000 - 375,000 a year
4                  Not Available
5                  Not Available
6                  Not Available
7                  Not Available
8                  Not Available
9                  Not Available
10                 Not Available
11                 Not Available
12                 Not Available
13               $120,000 a year
14                 Not Available
15                 Not Available
16     $145,000 - 225,000 a year
17     $131,400 - 189,800 a year
18                 Not Available
19                 Not Available
20                 Not Available
21                 Not Available
22                 Not Available
23                 Not Available
24                 Not Available
25                 Not Available
26                 Not Available
27                 Not Available
28     $250,000 - 375,000 a year
29                 Not Available
30     $131,400 - 189,800 a year
                 ...
125                Not Available
126                Not Available
127                Not Available
128                Not Available
129                Not Available
130                Not Available
131                Not Available
132                Not Available
133                Not Available
134                Not Available
135                Not Available
136    $132,476 - 163,000 a year
137                Not Available
138                Not Available
139                Not Available
140                Not Available
141                Not Available
142                Not Available
143                Not Available
144                Not Available
145    $129,662 - 203,566 a year
146                Not Available
147                Not Available
148                Not Available
149    $150,000 - 250,000 a year
150               $60,000 a year
151                Not Available
152    $145,000 - 225,000 a year
153    $131,400 - 189,800 a year
154    $250,000 - 375,000 a year
Name: salary, Length: 154, dtype: object

In [16]:
sample_df

,job_title,company,salary,rating
1,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
2,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
3,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
4,Associate Data Scientist I,Levi Strauss & Co.,Not Available,3.9
5,Data Scientist,project AI,Not Available,Not Available
6,Research Data Scientist,University of California San Francisco,Not Available,4.2
7,Junior Data Scientist - Pathrise Recruiting Pa...,Pathrise,Not Available,Not Available
8,Data Scientist: Data Visualization,Kaiser Permanente,Not Available,4.1
9,Data Scientist,Applied Technology & Science (A-T-S),Not Available,Not Available
10,Data Scientist,Common Networks,Not Available,Not Available
11,Data Scientist,Yelp,Not Available,3.5
12,Data Scientist / Quantitative Research,PicnicHealth,Not Available,Not Available
13,Data Scientist,GradTests (gradtests.com),"$120,000 a year",Not Available
14,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
15,"Data Scientist, Marketing",Twitch,Not Available,4.4
16,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
17,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
18,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
19,"Data Scientist, Marketing",Twitch,Not Available,4.4
20,"Data Scientist, Machine Learning innovator",Standard Chartered,Not Available,4.1
21,Data Scientist – Experimentation (Contract Pos...,Getty Images,Not Available,3.9
22,Data Scientist - Shop Recommendations,Stitch Fix,Not Available,3.2
23,Data Science Intern - Remote,Interview Query,Not Available,Not Available
24,Data Scientist,Deep Labs,Not Available,3.7
25,Data scientist,Avila Trading,Not Available,Not Available
26,Senior Data Scientist,Komodo Health,Not Available,Not Available
27,Data Solutions Sr. Consultant/Personalization ...,Wells Fargo Bank,Not Available,3.7
28,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
29,Senior Applied Scientist,Spiketrap,Not Available,Not Available
30,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
...,...,...,...,...
125,Scheduling/Cost Analyst Intern,Swinerton Builders,Not Available,4.2
126,Director of Data Science,Loom,Not Available,4.2
127,Lead Data Scientist - Deep Learning,The Climate Corporation,Not Available,3.5
128,Senior Data Scientist,Instacart,Not Available,2.7
129,Chief Data Scientist,AI Factory,Not Available,Not Available
130,Staff Data Scientist – Global Payments & Fraud...,Sony Interactive Entertainment PlayStation,Not Available,3.7
131,"Senior Data Scientist, Education",Chan Zuckerberg Initiative,Not Available,4.8
132,Sr. Data Scientist,MasterClass,Not Available,Not Available
133,Senior Data Analyst,Autodesk,Not Available,4.1
134,Data Engineer,CommonStock,Not Available,Not Available
135,Senior Health Data Analyst,One Medical,Not Available,3.6
136,Machine Learning Researcher - Multi View & Seg...,Fyusion,"$132,476 - 163,000 a year",Not Available
137,"Machine Learning Modeler Lead, Financial Crimes",Square,Not Available,3.7
138,Data Science Manager- Health,Twitter,Not Available,4.1
139,Data Scientist,Viber,Not Available,Not Available
140,Data Scientist,Trace Data,Not Available,Not Available
141,Senior Data Scientist,Demandbase,Not Available,3.1
142,Senior Data Scientist,Arkose Labs,Not Available,Not Available
143,Senior Data Analyst,Vida,Not Available,3.5
144,Senior Data Scientist,Levi Strauss & Co.,Not Available,3.9
145,Backend Engineer/Machine Learning,WAVELY,"$129,662 - 203,566 a year",Not Available
146,Expert Data Scientist,"Allscripts Healthcare, LLC",Not Available,3.6
147,Data Science/Stats Intern,Pivot Bio,Not Available,Not Available
148,Data Scientist (6257U) - CED,University of California Berkeley,Not Available,4.2
149,Machine Learning Engineer,Triplebyte,"$150,000 - 250,000 a year",5.0
150,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$60,000 a year",Not Available
151,Senior Applied Scientist,Spiketrap,Not Available,Not Available
152,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
153,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
154,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available

#### Awesome, it looks like it worked properly. For example, in our old series for index 134, it was 5,000 monthly which converts to 60,000 a year in our results series. Let's now finish off by printing our whole dataframe out.

In [17]:
pd.set_option('display.max_rows', None)
sample_df

,job_title,company,salary,rating
1,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
2,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
3,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
4,Associate Data Scientist I,Levi Strauss & Co.,Not Available,3.9
5,Data Scientist,project AI,Not Available,Not Available
6,Research Data Scientist,University of California San Francisco,Not Available,4.2
7,Junior Data Scientist - Pathrise Recruiting Pa...,Pathrise,Not Available,Not Available
8,Data Scientist: Data Visualization,Kaiser Permanente,Not Available,4.1
9,Data Scientist,Applied Technology & Science (A-T-S),Not Available,Not Available
10,Data Scientist,Common Networks,Not Available,Not Available
11,Data Scientist,Yelp,Not Available,3.5
12,Data Scientist / Quantitative Research,PicnicHealth,Not Available,Not Available
13,Data Scientist,GradTests (gradtests.com),"$120,000 a year",Not Available
14,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
15,"Data Scientist, Marketing",Twitch,Not Available,4.4
16,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
17,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
18,"Data Scientist, Legal Policy & Economics",Uber,Not Available,3.7
19,"Data Scientist, Marketing",Twitch,Not Available,4.4
20,"Data Scientist, Machine Learning innovator",Standard Chartered,Not Available,4.1
21,Data Scientist – Experimentation (Contract Pos...,Getty Images,Not Available,3.9
22,Data Scientist - Shop Recommendations,Stitch Fix,Not Available,3.2
23,Data Science Intern - Remote,Interview Query,Not Available,Not Available
24,Data Scientist,Deep Labs,Not Available,3.7
25,Data scientist,Avila Trading,Not Available,Not Available
26,Senior Data Scientist,Komodo Health,Not Available,Not Available
27,Data Solutions Sr. Consultant/Personalization ...,Wells Fargo Bank,Not Available,3.7
28,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
29,Senior Applied Scientist,Spiketrap,Not Available,Not Available
30,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
31,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
32,Senior Applied Scientist,Spiketrap,Not Available,Not Available
33,Data Scientist,Spin Electric Scooters,Not Available,3.1
34,Data Scientist,Everlane,Not Available,3.8
35,Data Scientist,Duetto Research,Not Available,Not Available
36,Staff Data Scientist,Twitter,Not Available,4.1
37,Data Scientist,Joby Aviation,Not Available,Not Available
38,2020 PhD University Graduate - Data Scientist ...,Uber,Not Available,3.7
39,Data Scientist,BICP,Not Available,Not Available
40,Data Scientist,Carbon Health,Not Available,2.0
41,Data Scientist,Spin,Not Available,3.1
42,"Data Scientist, Analytics",Outschool,Not Available,3.4
43,Enterprise Architect (Data) (2020-9124),Fisher Investments,Not Available,3.6
44,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$60,000 a year",Not Available
45,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
46,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
47,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$60,000 a year",Not Available
48,Senior Applied Scientist,Spiketrap,Not Available,Not Available
49,"Data Scientist, Forecasting",Geli,Not Available,Not Available
50,Data Scientist,Duetto Research,Not Available,Not Available
51,"Data Scientist, Transaction Monitoring",Wish,Not Available,3.8
52,Data Scientist/Analyst - Wilbur Labs,Wilbur Labs,Not Available,Not Available
53,Data Scientist - Operations,Stitch Fix,Not Available,3.2
54,Data Scientist,"Grammarly, Inc.",Not Available,4.8
55,Data Scientist,Clever,Not Available,4.2
56,Data Scientist,Bond Financial Technologies,Not Available,Not Available
57,Data Scientist - Product Analytics,ThirdLove,Not Available,4.1
58,Data Scientist,Brightidea,Not Available,4.5
59,Machine Learning Engineer,Triplebyte,"$150,000 - 250,000 a year",5.0
60,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
61,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
62,Data Science Intern,Curology,Not Available,5.0
63,Data Scientist,Bond Financial Technologies,Not Available,Not Available
64,"Sr. Data Scientist, Marketing Data Quality",Atlassian,Not Available,4.5
65,2020 PhD Data Scientist Internship - Uber Eats...,Uber,Not Available,3.7
66,"Sr. Data Scientist, Consumer Behavior",Wish,Not Available,3.8
67,"Data Scientist, Creator Content",Pinterest,Not Available,4.2
68,"Data Scientist, Trust & Safety",Pinterest,Not Available,4.2
69,"Senior Data Scientist, Ad Intelligence",Sensor Tower,Not Available,Not Available
70,Computational and Data Science Research,University of California San Francisco,Not Available,4.2
71,Data Scientist,Mindstrong,Not Available,Not Available
72,Machine Learning Engineer,Triplebyte,"$150,000 - 250,000 a year",5.0
73,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$60,000 a year",Not Available
74,Senior Applied Scientist,Spiketrap,Not Available,Not Available
75,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
76,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
77,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
78,Data Scientist,Hive,Not Available,3.6
79,Data Scientist,Sony Interactive Entertainment PlayStation,Not Available,3.7
80,Lead Data Scientist,Woebot Health,Not Available,Not Available
81,"Supervisory Social Scientist - Branch Chief, D...",US Department of Health And Human Services,"$92,977 - 120,868 a year",4.1
82,2020 PhD University Graduate - Data Scientist ...,Uber,Not Available,3.7
83,Staff Data Scientist - Pricing,Opendoor,Not Available,3.0
84,Senior Data Scientist,Intercom,Not Available,Not Available
85,Senior Staff Data Scientist / Forecasting,Twitter,Not Available,4.1
86,Data Scientist,Finrise,Not Available,Not Available
87,Machine Learning Engineer,Triplebyte,"$150,000 - 250,000 a year",5.0
88,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$60,000 a year",Not Available
89,Senior Applied Scientist,Spiketrap,Not Available,Not Available
90,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
91,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
92,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
93,Senior Data Scientist,Landing,Not Available,3.8
94,"Sr. Data Analyst, Twitter Service Tech",Twitter,Not Available,4.1
95,Principal Data Scientist,Noblr,Not Available,Not Available
96,Data Scientist,Trace Data,Not Available,Not Available
97,Data Science Instructional Designer and Analyst,University of California San Francisco,Not Available,4.2
98,Director of Data Science,Loom,Not Available,4.2
99,Senior Data Analyst - User Growth,Redfin,Not Available,3.2
100,Senior Data Scientist,Demandbase,Not Available,3.1
101,Senior Data Scientist,Levi Strauss & Co.,Not Available,3.9
102,Data Scientist,Upstart,Not Available,3.6
103,Senior Data Scientist,Arkose Labs,Not Available,Not Available
104,Data Scientist/Research Engineer,Apixio,Not Available,4.3
105,"Data Scientist, Medidata - Core",Medidata Solutions,Not Available,3.7
106,Data Scientist (6257U) - CED,University of California Berkeley,Not Available,4.2
107,Data Science/Stats Intern,Pivot Bio,Not Available,Not Available
108,Assistant Director- Data Scientist,Moody's Corporation,Not Available,3.7
109,"Data Scientist, Relevancy Ranking Algorithms -...",Getty Images,Not Available,3.9
110,English Speakers - Data Annotators,TransPerfect,Not Available,3.0
111,Data Scientist #5967,Fanatics Inc.,Not Available,3.7
112,Senior Data Scientist,Kinship,Not Available,4.6
113,Principal Data Scientist,Coinbase,Not Available,4.4
114,Senior Data Scientist - Homes,Opendoor,Not Available,3.0
115,Senior Data Analyst,Life360,Not Available,4.5
116,Sr. Pharmacy Data Analyst,University of California San Francisco Medical...,Not Available,4.2
117,Sr. Data Scientist,Fanatics Inc.,Not Available,3.7
118,Machine Learning Engineer,Triplebyte,"$150,000 - 250,000 a year",5.0
119,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$60,000 a year",Not Available
120,Senior Applied Scientist,Spiketrap,Not Available,Not Available
121,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
122,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
123,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available
124,"Senior Data Analyst, Member Services",Chime,Not Available,Not Available
125,Scheduling/Cost Analyst Intern,Swinerton Builders,Not Available,4.2
126,Director of Data Science,Loom,Not Available,4.2
127,Lead Data Scientist - Deep Learning,The Climate Corporation,Not Available,3.5
128,Senior Data Scientist,Instacart,Not Available,2.7
129,Chief Data Scientist,AI Factory,Not Available,Not Available
130,Staff Data Scientist – Global Payments & Fraud...,Sony Interactive Entertainment PlayStation,Not Available,3.7
131,"Senior Data Scientist, Education",Chan Zuckerberg Initiative,Not Available,4.8
132,Sr. Data Scientist,MasterClass,Not Available,Not Available
133,Senior Data Analyst,Autodesk,Not Available,4.1
134,Data Engineer,CommonStock,Not Available,Not Available
135,Senior Health Data Analyst,One Medical,Not Available,3.6
136,Machine Learning Researcher - Multi View & Seg...,Fyusion,"$132,476 - 163,000 a year",Not Available
137,"Machine Learning Modeler Lead, Financial Crimes",Square,Not Available,3.7
138,Data Science Manager- Health,Twitter,Not Available,4.1
139,Data Scientist,Viber,Not Available,Not Available
140,Data Scientist,Trace Data,Not Available,Not Available
141,Senior Data Scientist,Demandbase,Not Available,3.1
142,Senior Data Scientist,Arkose Labs,Not Available,Not Available
143,Senior Data Analyst,Vida,Not Available,3.5
144,Senior Data Scientist,Levi Strauss & Co.,Not Available,3.9
145,Backend Engineer/Machine Learning,WAVELY,"$129,662 - 203,566 a year",Not Available
146,Expert Data Scientist,"Allscripts Healthcare, LLC",Not Available,3.6
147,Data Science/Stats Intern,Pivot Bio,Not Available,Not Available
148,Data Scientist (6257U) - CED,University of California Berkeley,Not Available,4.2
149,Machine Learning Engineer,Triplebyte,"$150,000 - 250,000 a year",5.0
150,Financial Analyst Summer Intern - Ideal for a ...,MPL Brands,"$60,000 a year",Not Available
151,Senior Applied Scientist,Spiketrap,Not Available,Not Available
152,Data Scientist,Triplebyte,"$145,000 - 225,000 a year",5.0
153,Data Scientist,Global Fishing Watch,"$131,400 - 189,800 a year",Not Available
154,Data Scientist,Blue Owl,"$250,000 - 375,000 a year",Not Available

#### Looks good! Let's now finally convert this Pandas dataframe into a CSV file.

In [18]:
sample_df.to_csv('indeed.csv', index=False)